@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --color-brand-50: #fff9f5;
    --color-brand-100: #fef0e8;
    --color-brand-200: #fbd9c9;
    --color-brand-300: #f7b9a4;
    --color-brand-400: #ef8f78;
    --color-brand-500: #df6d5c;
    --color-brand-600: #c85145;
    --color-brand-700: #a53f3b;
    --color-brand-800: #833536;
    --color-brand-900: #652b30;
    --color-brand-950: #421b23;

    --color-accent: var(--color-brand-700);
    --color-accent-content: var(--color-brand-700);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-brand-300);
        --color-accent-content: var(--color-brand-200);
        --color-accent-foreground: var(--color-brand-950);
    }
}

@layer base {
    :root {
        color-scheme: light;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

    body {
        @apply bg-brand-50 text-brand-950 antialiased dark:bg-brand-950 dark:text-brand-50;
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

[wire\:loading] {
    cursor: wait;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
